@charset "UTF-8";
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.mask {
  width: 100%;
  height: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: 0.6s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 50px;
  --b: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(rgba(0, 0, 0, 0) 10%, #f03355) content-box;
  -webkit-mask: repeating-conic-gradient(rgba(0, 0, 0, 0) 0deg, #000 1deg 20deg, rgba(0, 0, 0, 0) 21deg 36deg), radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(100% - var(--b) - 1px), #000 calc(100% - var(--b)));
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: l4 1s infinite steps(10);
}

@keyframes l4 {
  to {
    transform: rotate(1turn);
  }
}
.hide {
  opacity: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 1920px;
  background: #f4f6f8;
}

.main-wrapper {
  border-radius: 50px;
  background-color: #fff;
}

/* Nav Icon */
.nav-icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--height);
  width: var(--width);
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 1px;
  --line-margin: 2;
  --color: #161c24;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}

.nav-icon::before {
  top: calc(var(--line-height) * -8);
}

.nav-icon::after {
  top: calc(var(--line-height) * 8);
}

.nav-icon.nav-icon_active {
  background-color: transparent;
}

.nav-icon.nav-icon_active::before,
.nav-icon.nav-icon_active::after {
  top: 0;
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon_active::before {
  transform: rotate(45deg);
}

.nav-icon.nav-icon_active::after {
  transform: rotate(-45deg);
}

.header {
  height: 910px;
  background-image: url(./../img/Vector01.svg);
  background-repeat: no-repeat;
  background-position: center top 171px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: calc(50% - 664px);
  padding-right: calc(50% - 664px);
  height: 80px;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 -26px 82px 0 rgba(55, 80, 117, 0.15);
  background: #fff;
}

.header__logo {
  margin-left: 20px;
  width: 146px;
  overflow: hidden;
}

.logo__title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #161c24;
  line-height: 1;
}

.logo__text {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.14em;
  color: #161c24;
  line-height: 0.9;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  width: 711px;
}

.header__list {
  height: 35px;
  border-radius: 58px;
  padding: 7px 16px;
  background: #f4f6f8;
  text-align: center;
  transition: background 0.2s ease-in-out;
}
.header__list:hover {
  background: #efefef;
}

.header__link {
  font-family: "Golos Text", sans-serif;
  font-weight: 400;
  font-size: 16px;
  white-space: nowrap;
  color: #161c24;
}

.header__timetable {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #5b5b5b;
}

.header__top-right {
  display: flex;
  align-items: center;
}

.header__phone {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 38px;
  height: 38px;
  margin-right: 20px;
  background: #f4f6f8;
  transition: background 0.2s ease-in-out;
}
.header__phone:hover {
  background: #efefef;
}

.header__nav-btn {
  display: none;
  margin-right: 20px;
}

.nav-icon-btn {
  --width: 36px;
}

.header__main {
  max-width: 1288px;
  height: 563px;
  margin: 50px auto 0;
  padding-top: 32px;
  background-image: url(./../img/header.jpg);
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: 1288px 563px;
  background-position: center;
}

.header__box {
  margin-left: 32px;
  margin-right: 32px;
  border-radius: 20px;
  max-width: 740px;
  padding: 40px;
  background: #fff;
}

.header__box-title {
  font-family: "Onest", sans-serif;
  font-weight: 700;
  font-size: 52px;
  line-height: 110%;
  color: #161c24;
}

.header__box-title span {
  color: #5b7dde;
}

.header__box-text {
  padding-top: 8px;
  font-family: "Golos Text", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #161c24;
}

.header__bottom {
  display: flex;
  gap: 16px;
  max-width: 1288px;
  margin: 16px auto;
}

.header__items {
  border-radius: 15px;
  padding: 24px 24px 24px 78px;
  width: 418px;
  height: 111px;
  background: #fff;
}

.header__item1 {
  background-image: url(./../img/Frame1.png);
  background-repeat: no-repeat;
  background-position: 24px 24px;
}

.header__item2 {
  background-image: url(./../img/Frame2.png);
  background-repeat: no-repeat;
  background-position: 24px 24px;
}

.header__item3 {
  background-image: url(./../img/Frame3.png);
  background-repeat: no-repeat;
  background-position: 24px 24px;
}

.header__item-title {
  font-family: "Golos Text", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #161c24;
}

.header__item-text {
  padding-top: 6px;
  font-family: "Golos Text", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #454f5b;
}

@media screen and (max-width: 1199px) {
  .header__timetable {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .no-scroll {
    overflow-y: hidden;
  }
  .header {
    height: auto;
  }
  .header__menu {
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 72px;
    padding-bottom: 72px;
    top: 80px;
    gap: 12px;
    background: #fff;
    background-color: rgba(0, 0, 0, 0.414);
    animation: shows 0.3s;
  }
  @keyframes shows {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .menu__tablet {
    display: flex;
  }
  .header__list {
    width: 216px;
  }
  .header__nav-btn {
    display: block;
  }
  .header__box-title {
    font-size: 48px;
  }
  .header__bottom {
    flex-direction: column;
    align-items: center;
  }
  .header__items {
    width: auto;
    height: auto;
  }
}
@media screen and (max-width: 767px) {
  .header__box-title {
    font-size: 42px;
  }
}
@media screen and (max-width: 575px) {
  .header__box {
    padding: 20px;
  }
  .header__box-title {
    font-size: 30px;
  }
}
.section__rent-summer {
  padding-top: 120px;
  padding-left: calc(50% - 664px);
  padding-right: calc(50% - 664px);
  border-radius: 50px;
  background: #fff;
}

.section__header {
  padding-left: 20px;
  margin-bottom: 40px;
  font-family: "Onest", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 102%;
  color: #161c24;
  background-repeat: no-repeat;
  background-position: right;
}

.section__header span {
  color: #5b7dde;
}

.summer__header {
  width: 537px;
  background-image: url(./../img/sun.svg);
}

.section__summer-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  max-width: 1328px;
  padding-left: 20px;
  padding-right: 20px;
}

.summer-info__item1,
.summer-info__item2,
.summer-info__item3,
.summer-info__item4 {
  position: relative;
  height: 234px;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: top;
}
.summer-info__item1:hover::before,
.summer-info__item2:hover::before,
.summer-info__item3:hover::before,
.summer-info__item4:hover::before {
  opacity: 1;
}

.summer-info__item1::before,
.summer-info__item2::before,
.summer-info__item3::before,
.summer-info__item4::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  height: 234px;
  z-index: 5;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.info__items-icon {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #fff;
  background-image: url(./../img/arrow-up-right.svg);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
}

.summer-info__items-bottom {
  border-radius: 15px;
  padding: 18px;
  background: #f4f6f8;
}

.summer-info__title {
  font-family: "Golos Text", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #161c24;
}

.summer-info__text {
  padding-top: 6px;
  font-family: "Golos Text", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #454f5b;
}

.summer-info__item1 {
  background-image: url(./../img/info__item1.jpg);
}

.summer-info__item2 {
  background-image: url(./../img/info__item2.jpg);
}

.summer-info__item3 {
  background-image: url(./../img/info__item3.jpg);
}

.summer-info__item4 {
  background-image: url(./../img/info__item4.jpg);
}

@media screen and (max-width: 767px) {
  .section__rent-summer {
    padding-top: 50px;
  }
}
@media screen and (max-width: 575px) {
  .summer__header {
    width: auto;
    padding-right: 50px;
    margin-right: 30px;
    font-size: 28px;
  }
  .section__summer-info {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.section__rent-winter {
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: calc(50% - 664px);
  padding-right: calc(50% - 664px);
  border-radius: 50px;
  background: #fff;
  box-shadow: 0 -20px 40px -4px rgba(145, 158, 171, 0.12);
}

.winter__header {
  width: 544px;
  background-image: url(./../img/snow.svg);
}

.section__winter-info {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
  max-width: 1328px;
  padding-left: 20px;
  padding-right: 20px;
}

.winter-info__item1,
.winter-info__item2,
.winter-info__item3,
.winter-info__item4,
.winter-info__item5 {
  position: relative;
  height: 234px;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: top;
}
.winter-info__item1:hover::before,
.winter-info__item2:hover::before,
.winter-info__item3:hover::before,
.winter-info__item4:hover::before,
.winter-info__item5:hover::before {
  opacity: 1;
}

.winter-info__item1::before,
.winter-info__item2::before,
.winter-info__item3::before,
.winter-info__item4::before,
.winter-info__item5::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  height: 234px;
  z-index: 5;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.winter-info__items1 {
  grid-column: 1/3;
  grid-row: 1/2;
}

.winter-info__item1 {
  background-image: url(./../img/winter__item1.jpg);
}

.winter-info__items2 {
  grid-column: 3/5;
  grid-row: 1/2;
}

.winter-info__item2 {
  background-image: url(./../img/winter__item2.jpg);
}

.winter-info__items3 {
  grid-column: 5/7;
  grid-row: 1/2;
}

.winter-info__item3 {
  background-image: url(./../img/winter__item3.jpg);
}

.winter-info__items4 {
  grid-column: 1/4;
  grid-row: 2/3;
}

.winter-info__item4 {
  background-image: url(./../img/winter__item4.jpg);
}

.winter-info__items5 {
  grid-column: 4/7;
  grid-row: 2/3;
}

.winter-info__item5 {
  background-image: url(./../img/winter__item5.jpg);
}

.winter-info__items-bottom {
  border-radius: 15px;
  padding: 18px;
  background: #f4f6f8;
}

.winter-info__title {
  font-family: "Golos Text", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #161c24;
}

.winter-info__text {
  padding-top: 6px;
  font-family: "Golos Text", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #454f5b;
}

@media screen and (max-width: 767px) {
  .section__rent-winter {
    padding-top: 50px;
    padding-bottom: 90px;
  }
  .section__winter-info {
    grid-template-columns: 1fr 1fr;
  }
  .winter-info__item1 {
    background-position: bottom;
    background-size: cover;
  }
  .winter-info__item2,
  .winter-info__item3,
  .winter-info__item4,
  .winter-info__item5 {
    background-position: top;
    background-size: cover;
  }
  .winter-info__items1 {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .winter-info__items2 {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .winter-info__items3 {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .winter-info__items4 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .winter-info__items5 {
    grid-column: 2/3;
    grid-row: 4/5;
  }
}
@media screen and (max-width: 575px) {
  .winter__header {
    width: auto;
    padding-right: 50px;
    margin-right: 30px;
    font-size: 28px;
  }
  .section__winter-info {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .winter-info__item1,
  .winter-info__item2,
  .winter-info__item3,
  .winter-info__item4,
  .winter-info__item5 {
    background-position: center;
    background-size: cover;
  }
  .winter-info__items1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .winter-info__items2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .winter-info__items3 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .winter-info__items4 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .winter-info__items5 {
    grid-column: 1/2;
    grid-row: 5/6;
  }
}
.section__services {
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: url(./../img/Vector02.svg);
  background-repeat: no-repeat;
  background-position: center top 315px;
}

.section__services-box {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  max-width: 1328px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.section__services-left {
  width: 374px;
}

.services__header {
  padding-left: 0;
  margin-bottom: 15px;
}

.services__text {
  font-family: "Golos Text", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #454f5b;
}

.section__services-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  max-width: 793px;
}

.services-info__item1,
.services-info__item2,
.services-info__item3,
.services-info__item4 {
  position: relative;
  height: 234px;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: top;
}
.services-info__item1:hover::before,
.services-info__item2:hover::before,
.services-info__item3:hover::before,
.services-info__item4:hover::before {
  opacity: 1;
}

.services-info__item1::before,
.services-info__item2::before,
.services-info__item3::before,
.services-info__item4::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  height: 234px;
  z-index: 5;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.services-info__items1 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.services-info__item1 {
  background-image: url(./../img/services__item1.jpg);
}

.services-info__items2 {
  grid-column: 2/3;
  grid-row: 1/2;
}

.services-info__item2 {
  background-image: url(./../img/winter__item2.jpg);
}

.services-info__items3 {
  grid-column: 1/2;
  grid-row: 2/3;
}

.services-info__item3 {
  background-image: url(./../img/winter__item4.jpg);
}

.services-info__items4 {
  grid-column: 2/3;
  grid-row: 2/3;
}

.services-info__item4 {
  background-image: url(./../img/winter__item5.jpg);
}

.services-info__items-bottom {
  border-radius: 15px;
  padding: 18px;
  background: #fff;
}

.services-info__title {
  font-family: "Golos Text", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #161c24;
}

.services-info__text {
  padding-top: 6px;
  font-family: "Golos Text", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #454f5b;
}

@media screen and (max-width: 991px) {
  .section__services-box {
    flex-direction: column;
    gap: 20px;
  }
}
@media screen and (max-width: 767px) {
  .section__services {
    padding-top: 50px;
    padding-bottom: 90px;
  }
}
@media screen and (max-width: 575px) {
  .section__services-left {
    width: auto;
  }
  .services__header {
    font-size: 28px;
  }
  .section__services-info {
    grid-template-columns: 1fr;
  }
  .services-info__item1,
  .services-info__item2,
  .services-info__item3,
  .services-info__item4 {
    background-position: top;
    background-size: cover;
  }
  .services-info__items1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .services-info__items2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .services-info__items3 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .services-info__items4 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
}
.section__news {
  padding-bottom: 92px;
  max-width: 1328px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.section__news-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.news__header {
  margin: 0;
  padding: 6px 0 0;
}

.news__button {
  display: flex;
  height: 48px;
  padding-right: 10px;
}

.news-button-next,
.news-button-prev {
  position: relative;
  border-radius: 15px;
  padding: 12px;
  width: 48px;
  height: 48px;
  background: #fff;
}

.news-button-next::after,
.news-button-prev::after {
  content: "";
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  padding-bottom: 36px;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 257px;
  padding: 24px;
  border-radius: 15px;
  background: #fff;
}

.news__slider-title {
  border-radius: 500px;
  padding: 6px 12px;
  width: 110px;
  height: 29px;
  font-family: "Golos Text", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  background: #5b7dde;
  color: #fff;
  transition: background 0.2s ease-in-out;
}
.news__slider-title_small {
  width: 82px;
}
.news__slider-title:hover {
  background: #345fd9;
}

.news-info__title {
  padding-top: 24px;
  padding-bottom: 12px;
  font-family: "Golos Text", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #161c24;
}

.news-info__text {
  font-family: "Golos Text", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #454f5b;
}

.news-info__years {
  padding-top: 24px;
  font-family: "Golos Text", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: rgba(71, 79, 90, 0.5);
}

@media screen and (max-width: 575px) {
  .section__news {
    padding-bottom: 50px;
  }
  .news__header {
    font-size: 28px;
  }
  .news__button {
    display: none;
  }
}
.section__blog {
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: calc(50% - 664px);
  padding-right: calc(50% - 664px);
  border-radius: 50px;
  background: #fff;
}

.blog__header {
  width: 100px;
}

.section__blog-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 248px 270px;
  gap: 30px;
  max-width: 1328px;
  padding-left: 20px;
  padding-right: 20px;
}

.blog-info__item1,
.blog-info__item2,
.blog-info__item3,
.blog-info__item4 {
  position: relative;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: top;
}
.blog-info__item1:hover::before,
.blog-info__item2:hover::before,
.blog-info__item3:hover::before,
.blog-info__item4:hover::before {
  opacity: 1;
}

.blog-info__item1::before,
.blog-info__item2::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  height: 468px;
  z-index: 5;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.blog-info__item3::before,
.blog-info__item4::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  height: 190px;
  z-index: 5;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.blog-info__items1 {
  grid-column: 1/2;
  grid-row: 1/3;
}

.blog-info__item1 {
  height: 468px;
  background-image: url(./../img/blog__item1.jpg);
}

.blog-info__items2 {
  grid-column: 2/3;
  grid-row: 1/3;
}

.blog-info__item2 {
  height: 468px;
  background-image: url(./../img/blog__item2.jpg);
}

.blog-info__items3 {
  grid-column: 3/4;
  grid-row: 1/2;
}

.blog-info__item3 {
  height: 190px;
  background-image: url(./../img/blog__item3.jpg);
}

.blog-info__items4 {
  grid-column: 3/4;
  grid-row: 2/3;
}

.blog-info__item4 {
  height: 190px;
  background-image: url(./../img/blog__item4.jpg);
}

.blog-info__items-bottom {
  min-height: 80px;
  border-radius: 15px;
  padding: 18px;
  background: #f4f6f8;
}
.blog-info__items-bottom_little {
  min-height: 58px;
}

.blog-info__title {
  font-family: "Golos Text", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #161c24;
}

.blog-info__span {
  color: #f4f6f8;
}

@media screen and (max-width: 991px) {
  .section__blog-info {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 270px;
  }
  .blog-info__items1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .blog-info__items2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .blog-info__items3 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .blog-info__items4 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
@media screen and (max-width: 767px) {
  .section__blog {
    padding-top: 50px;
    padding-bottom: 90px;
  }
}
@media screen and (max-width: 575px) {
  .blog__header {
    font-size: 28px;
  }
  .section__blog-info {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 270px 270px;
  }
  .blog-info__item1,
  .blog-info__item2,
  .blog-info__item3,
  .blog-info__item4 {
    background-size: cover;
  }
  .blog-info__items1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .blog-info__items2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .blog-info__items3 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .blog-info__items4 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
}
.section__consultation {
  padding-top: 120px;
  padding-bottom: 120px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: calc(50% - 645px);
  padding-right: calc(50% - 645px);
}

.consultation__info {
  display: grid;
  grid-template-columns: 1fr 342px;
  align-items: center;
  border-radius: 20px;
  column-gap: 32px;
  padding: 32px;
  background: #fff;
}

.consultation__info-left {
  grid-column: 1/2;
}

.consultation__title {
  font-family: "Golos Text", sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #161c24;
}

.consultation__info-right {
  padding: 24px;
  grid-column: 2/3;
  border-radius: 15px;
  height: 292px;
  background: #f4f6f8;
  background-image: url(./../img/Vector03.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}

.consultation__right-text {
  font-family: "Golos Text", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #454f5b;
}

.consultation__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 12px 16px;
  width: 294px;
  height: 48px;
  font-family: "Golos Text", sans-serif;
  font-weight: 500;
  font-size: 18px;
  background: #fff;
  transition: border 0.3s ease;
}

.consultation__link_blue {
  margin-top: 24px;
  color: #229ed9;
}
.consultation__link_blue:hover {
  border: 1px solid #229ed9;
}

.consultation__link_green {
  margin-top: 10px;
  color: #08b419;
}
.consultation__link_green:hover {
  border: 1px solid #08b419;
}

.form {
  margin-top: 16px;
}

.input-wrap {
  display: flex;
  column-gap: 16px;
  margin-top: 32px;
  margin-bottom: 24px;
}

.form .label {
  font-family: "Golos Text", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #454f5b;
}
.form .label_chek {
  font-size: 16px;
  color: #a5b2bf;
}

.form .phone {
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  padding: 18px 12px;
  width: 100%;
  max-width: 608px;
  height: 57px;
  font-family: "Golos Text", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #161c24;
}

.form .phone::placeholder {
  font-family: "Golos Text", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #a5b2bf;
}

.form .btn {
  width: 220px;
  padding: 16px 62px;
  font-family: "Golos Text", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 110%;
  border: none;
  border-radius: 10px;
  background-color: #5b7dde;
  color: #fff;
}
.form .btn_active {
  background-color: #345fd9;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  left: -9999px;
  opacity: 0;
}

.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
}

.custom-checkbox:checked + label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("./../img/chekbox.svg");
}

/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #b3d7ff;
}

@media screen and (max-width: 991px) {
  .consultation__info {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .consultation__title {
    font-size: 44px;
  }
  .consultation__info-right {
    grid-column: 1/2;
    height: auto;
  }
  .consultation__link {
    margin-top: 16px;
    float: left;
  }
  .consultation__link_blue {
    margin-right: 16px;
  }
}
@media screen and (max-width: 767px) {
  .section__consultation {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .consultation__title {
    font-size: 36px;
  }
}
@media screen and (max-width: 575px) {
  .consultation__info {
    padding: 20px;
  }
  .consultation__title {
    font-size: 28px;
  }
  .input-wrap {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .form .btn {
    width: 210px;
  }
  .consultation__info-right {
    padding: 20px;
  }
  .consultation__link {
    width: auto;
    max-width: 294px;
    margin-right: 0;
  }
  .consultation__link_blue img {
    padding-left: 20px;
  }
  .consultation__link_green img {
    padding-left: 10px;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 170px;
  height: 1060px;
  background-image: url(./../img/rental.jpg);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: auto 859px;
}

.rental__info {
  background: #fff;
  border-radius: 30px;
  max-width: 819px;
  padding: 48px;
  margin-left: calc(30% - 230px);
  margin-right: calc(30% - 230px);
}

.rental__header {
  font-family: "Onest", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 102%;
  color: #161c24;
}

.rental__info-text {
  font-family: "Golos Text", sans-serif;
  font-weight: 400;
  margin-top: 18px;
  font-size: 18px;
  line-height: 140%;
  color: #454f5b;
}
.rental__info-text_bold {
  font-weight: 600;
}
.rental__info-text_blue {
  font-weight: 600;
  color: #5b7dde;
}

.footer__menu {
  padding-left: calc(50% - 664px);
  padding-right: calc(50% - 664px);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: #161c24;
}

.footer__menu-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.logo__title_footer {
  color: #fff;
}

.logo__text_footer {
  color: #fff;
}

.footer__top-left {
  display: flex;
  align-items: center;
  width: 557px;
  margin-right: 20px;
}

.footer__timetable {
  margin-right: 32px;
  padding-left: 10px;
  background-image: url(./../img/Ellipse.svg);
  background-repeat: no-repeat;
  background-position: top 6px left;
  background-size: 5px;
  font-family: "Golos Text", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #f4f6f8;
  opacity: 0.6;
}

.footer__location {
  margin-right: 8px;
  font-family: "Golos Text", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  line-height: 1;
}

.footer__location-image {
  margin-right: 4px;
  padding: 5px;
  border-radius: 4px;
  vertical-align: middle;
  width: 26px;
  height: 26px;
  background: rgba(244, 246, 248, 0.2);
}

.footer__link-maps {
  font-family: "Golos Text", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #bdccf7;
}

.img__up-right {
  width: 15px;
  height: 17px;
  padding: 2px;
}

.footer__line {
  margin: 20px;
  height: 1px;
  width: auto;
  background: #fff;
  opacity: 0.09;
}

.footer__menu-items {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  gap: 12px;
}

.footer__list {
  width: 205px;
  height: 35px;
  border-radius: 58px;
  padding: 7px 16px;
  text-align: center;
  background: #42484e;
  transition: background 0.2s ease-in-out;
}
.footer__list:hover {
  background: rgba(255, 255, 255, 0.3490196078);
}

.footer__link {
  font-family: "Golos Text", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  white-space: nowrap;
}

.footer__bottom {
  padding-left: calc(50% - 645px);
  padding-right: calc(50% - 645px);
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__bottom-text {
  font-family: "Golos Text", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #f4f6f8;
  opacity: 0.4;
}

@media screen and (max-width: 991px) {
  .footer {
    padding-top: 70px;
  }
  .rental__info {
    margin-left: auto;
    margin-right: auto;
  }
  .footer__menu-items {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .footer__top-left {
    width: auto;
  }
  .footer__timetable {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .footer {
    padding-top: 0px;
    background-image: none;
    height: auto;
  }
  .rental__info {
    padding: 20px;
  }
  .footer__top-left {
    flex-direction: column;
  }
}
@media screen and (max-width: 575px) {
  .rental__header {
    font-size: 28px;
  }
  .footer__menu-top {
    flex-direction: column;
    gap: 16px;
  }
}/*# sourceMappingURL=main.css.map */