.header {
  height: 910px;
  background-image: url(./../img/Vector01.svg);
  background-repeat: no-repeat;
  background-position: center top 171px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: calc(50% - 1328px / 2);
  padding-right: calc(50% - 1328px / 2);
  height: 80px;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 -26px 82px 0 rgba(55, 80, 117, 0.15);
  background: $w;
}

.header__logo {
  margin-left: 20px;
  width: 146px;
  overflow: hidden;
}

.logo__title {
  font-family: $third-family;
  font-weight: 700;
  font-size: 36px;
  color: $txt-1;
  line-height: 1;

}

.logo__text {
  font-family: $third-family;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.14em;
  color: $txt-1;
  line-height: 0.9;
}


.header__menu {
  display: flex;
  justify-content: space-between;
  width: 711px;
}

.header__list {
  height: 35px;
  border-radius: 58px;
  padding: 7px 16px;
  background: $bg;
  transition: background 0.2s ease-in-out;

  &:hover {
    background: #efefef;
  }
}
.header__link {
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  color: $txt-1;
}

.header__timetable {
  font-family: $third-family;
  font-weight: 500;
  font-size: 13px;
  color: #5b5b5b;

}

.header__phone {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 38px;
  height: 38px;
  margin-right: 20px;
  background: $bg;
  transition: background 0.2s ease-in-out;

  &:hover {
    background: #efefef;
  }
}

.header__main {
  max-width: 1288px;
  height: 563px;
  margin: 50px auto 0;
  padding-top: 32px;
  background-image: url(./../img/header.jpg);
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: 1288px 563px;
  background-position: center;

}

.header__box {
  margin-left: 32px;
  border-radius: 20px;
  width: 740px;
  height: 324px;
  padding: 40px;
  background: $w;
}

.header__box-title {
  font-family: $second-family;
  font-weight: 700;
  font-size: 52px;
  line-height: 110%;
  color: $txt-1;
}

.header__box-title span {
  color: $blue;
}

.header__box-text {
  font-family: $font-family;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: $txt-1;
}

.header__bottom {
  display: flex;
  column-gap: 16px;
  max-width: 1288px;
  margin: 16px auto;
}

.header__items {
  border-radius: 15px;
  padding: 24px 24px 24px 78px;
  width: 418px;
  height: 111px;
  background: $w;
}

.header__item1 {
  background-image: url(./../img/Frame1.png);
  background-repeat: no-repeat;
  background-position: 24px 24px;
}

.header__item2 {
  background-image: url(./../img/Frame2.png);
  background-repeat: no-repeat;
  background-position: 24px 24px;
}

.header__item3 {
  background-image: url(./../img/Frame3.png);
  background-repeat: no-repeat;
  background-position: 24px 24px;
}

.header__item-title {
  font-family: $font-family;
  font-weight: 600;
  font-size: 16px;
  color: $txt-1;

}

.header__item-text {
  padding-top: 6px;
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: $txt-2;
}

