.section__rent-winter {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: calc(50% - 1328px / 2);
    padding-right: calc(50% - 1328px / 2);
    border-radius: 50px;
    background: $w;
    box-shadow: 0 -20px 40px -4px rgba(145, 158, 171, 0.12);
}

.winter__header {
    width: 544px;
    background-image: url(./../img/snow.svg);
}

.section__winter-info {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
    max-width: 1328px;
    padding-left: 20px;
    padding-right: 20px;
}

.winter-info__item1,
.winter-info__item2,
.winter-info__item3,
.winter-info__item4,
.winter-info__item5 {
    position: relative;
    height: 234px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: top;
 
    &:hover::before {
        opacity: 1;
    }
}

.winter-info__item1::before,
.winter-info__item2::before,
.winter-info__item3::before,
.winter-info__item4::before,
.winter-info__item5::before {

    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    height: 232px;
    z-index: 5;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.winter-info__items1 {
    grid-column: 1/3;
    grid-row: 1/2;

}

.winter-info__item1 {
    background-image: url(./../img/winter__item1.jpg);
}

.winter-info__items2 {
    grid-column: 3/5;
    grid-row: 1/2;
}

.winter-info__item2 {
    background-image: url(./../img/winter__item2.jpg);
}

.winter-info__items3 {
    grid-column: 5/7;
    grid-row: 1/2;
}

.winter-info__item3 {
    background-image: url(./../img/winter__item3.jpg);
}

.winter-info__items4 {
    grid-column: 1/4;
    grid-row: 2/3;
}

.winter-info__item4 {
    background-image: url(./../img/winter__item4.jpg);
}

.winter-info__items5 {
    grid-column: 4/7;
    grid-row: 2/3;
}

.winter-info__item5 {
    background-image: url(./../img/winter__item5.jpg);
}

.winter-info__items-bottom {
    border-radius: 15px;
    padding: 18px;
    background: $bg;
}

.winter-info__title {
    font-family: $font-family;
    font-weight: 600;
    font-size: 18px;
    color: $txt-1;
}

.winter-info__text {
    padding-top: 6px;
    font-family: $font-family;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: $txt-2;
}