@font-face {
    font-family: 'Lato';
    src: url('./Lato-Bold.eot');
    src: url('./Lato-Bold.eot?#iefix') format('embedded-opentype'),
    url('./Lato-Bold.woff') format('woff'),
    url('./Lato-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    }

    @font-face {
        font-family: 'Lato';
        src: url('./Lato-Medium.eot');
        src: url('./Lato-Medium.eot?#iefix') format('embedded-opentype'),
        url('./Lato-Medium.woff') format('woff'),
        url('./Lato-Medium.ttf') format('truetype');
        font-weight: 500;
        font-style: normal;
        }   

@font-face {
    font-family: 'Lato';
    src: url('./Lato-Light.eot');
    src: url('./Lato-Light.eot?#iefix') format('embedded-opentype'),
    url('./Lato-Light.woff') format('woff'),
    url('./Lato-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    }