
// preloader

.mask {
width: 100%;
height: 100%;
background-color: white;
position: fixed;
top:0;
z-index: 100;
transition: 0.6s;
display: flex;
justify-content: center;
align-items: center;

}

.loader {
width: 50px;
--b: 8px; 
aspect-ratio: 1;
border-radius: 50%;
padding: 1px;
background: conic-gradient(#0000 10%,#f03355) content-box;
-webkit-mask:
  repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
  radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
-webkit-mask-composite: destination-in;
        mask-composite: intersect;
animation:l4 1s infinite steps(10);
}

@keyframes l4 {to{transform: rotate(1turn)}}

.hide {
opacity: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 1920px;
  background: $bg;
}

.main-wrapper {
  border-radius: 50px;
  background-color: $w;
}

/* Nav Icon */
.nav-icon-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: var(--height);
	width: var(--width);
	--time: 0.1s;
	--width: 40px;
	--height: 30px;
	--line-height: 1px;
    --line-margin: 2;
	--color: #161c24;;


}

.nav-icon {
	position: relative;
	width: var(--width);
	height: var(--line-height);
	background-color: var(--color);
}

.nav-icon::before,
.nav-icon::after {
	content: '';
	display: block;

	position: absolute;
	left: 0;

	width: var(--width);
	height: var(--line-height);

	background-color: var(--color);
	transition: transform var(--time) ease-in,
		top var(--time) linear var(--time);
}

.nav-icon::before {
	top: calc(var(--line-height) * -8);
}

.nav-icon::after {
	top: calc(var(--line-height) * 8);
}

.nav-icon.nav-icon_active {
	background-color: transparent;
}

.nav-icon.nav-icon_active::before,
.nav-icon.nav-icon_active::after {
	top: 0;
	transition: top var(--time) linear,
		transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon_active::before {
	transform: rotate(45deg);
}

.nav-icon.nav-icon_active::after {
	transform: rotate(-45deg);
}