//fonts

    $font-family: "Golos Text", sans-serif;
    $second-family: "Onest", sans-serif;
    $third-family: "Lato", sans-serif;

//colors

	$bg: #f4f6f8;
	$w: #fff;
	$blue: #5b7dde;
	$light-blue: #bdccf7;
	$txt-1: #161c24;
	$txt-2: #454f5b;
	$txt-3: #a5b2bf;
